<h1 class="animated fadeIn fast">
    <small>Obligatorio 2 de Diseño de aplicaciones 2</small>
</h1>
<p class="animated fadeIn ">
    Una empresa muy importante del rubro automotriz se ha puesto en contacto con su equipo con el fin de poder arribar a una
    solución tecnológica que permita resolver problemas en los procesos internos y de logística que atraviesan sus vehículos.
    Estos procesos involucran varias fases: comenzando cuando los vehículos llegan al puerto y terminando cuando son lavados
    y llevados a las automotoras para ser vendidos. Entre esas dos etapas, ocurren una infinidad de problemas y desperdicio
    de recursos que la empresa quiere optimizar. Particularmente los principales problemas que poseen son:</p>
<div class="container">
    <p class="animated fadeIn "> Muy poco control del estado de los vehículos dentro de su flujo, además de un nulo manejo de historial. Por ejemplo:
        los vehículos llegan al puerto en contenedores. Allí simplemente se agrupan los vehículos en lotes que son asignados
        a diferentes transportistas. Estos transportistas en camiones grandes llevan los vehículos hacia los patios de la
        empresa donde son almacenados. Cuando un vehículo llega dañado, es actualmente imposible poder definir si llegó dañado
        al puerto, si se dañó en el transporte, o si se rompió en el patio. En consecuencia, siempre se hace cargo la empresa
        de reparar los daños en su totalidad.
    </p>
    <p class="animated fadeIn ">
        Los patios son enormes, y es realmente difícil saber dónde están ubicados los vehículos. Para ello, lo que la empresa actualmente
        hace es disponer empleados para ubicar los vehículos en los patios anotando en planillas. La empresa desea automatizar
        esto a través de marcar en el sistema dónde se encuentran los vehículos en tiempo real.

    </p>
</div>