<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Agregar daños</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Ingrese daño" formControlName="name">
          </div>
          <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
            <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
          </div>
          <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Subir <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
        </form>

      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<button class="btn btn-outline-primary" (click)="open(content)">Agregar daño</button>
<br>
<br>
